<article class="post">

  <div>
    <a href="/post/{{id}}">{{title}}</a>
    <span></span>
  </div>

  <div class="meta">
    by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>

  <div>
    <p>{{message}}</p>
  </div>

</article>